<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Duke Mutethem - About</title>
</head>
<body>
    <header>
        <h1>About Duke Mutethem</h1>
    </header>

    <div class="dots">
        <h2>An unknown entity</h2>
        <p>Using obviously a pseudonym, this person does not want to be known by their real name.</p>
        <p>First appeareance is between the year 2015 and 2018.</p>
        <p>Somewhat artistic.</p>
    </div>
    
</body>
</html>