<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Duke Mutethem</title>
</head>
<body>
    <header>
        <h1>Welcome to this Spotlight of Duke Mutethem</h1>
    </header>

    <div class="music">
        <h2>Music</h2>
        <a href="https://soundcloud.com/cranialmagnet">
            <div>Link to Soundcloud</div>
        </a>
    </div>

    <div class="gallery">
        <h2>Graphics</h2>
    </div>
    <script src="/src/gallery.js"></script>
</body>
</html>